{% extends 'base.html.twig' %}

{% block title %}Update Information{% endblock %}

{% block body %}
    <h1>Edit Personne</h1>

    {{ include('personne/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('personne_index') }}">retour aux infos</a>

{% endblock %}
