{% extends 'base.html.twig' %}

{% block title %}New SalleDeVente{% endblock %}

{% block body %}
    <h1>Create new SalleDeVente</h1>

    {{ include('salle_de_vente/_form.html.twig') }}

    <a href="{{ path('salle_de_vente_index') }}">back to list</a>
{% endblock %}
